@charset: "utf-8";

body {
  margin: 0;

}

#slide {
  width: 100%;
  height: 100vh;
  background-image: url(../images/camera.jpg), url(../images/chikyugi.jpg), url(../images/compass.jpg), url(../images/tokei1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;

  /*自分が作成した分*/
  animation-delay: 2s;
  animation-duration: 20s;
  animation-name: slideshow;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  /*先生の模範解答 - これ1行のみで可能*/
  /*animation: slideshow 30s infinite;*/

}

/*現時刻2015-10-29 13:30時点で予定してる動きじゃないまま*/

@keyframes slideshow {
  0% {
    background-image: url(../images/camera.jpg);
    transform: rotate(180deg) scale(-1, -1);
  }
  25% {
    background-image: url(../images/chikyugi.jpg);
    transform: rotate(0deg) scale(1, 1);
  }
  50% {
    background-image: url(../images/compass.jpg);
    transform: rotate(180deg) scale(-1, -1);
  }
  75% {
    background-image: url(../images/tokei1.jpg);
    transform: rotate(0deg) scale(1, 1);
  }
  100% {
    background-image: url(../images/camera.jpg);
    transform: rotate(180deg) scale(-1, -1);
  }
}
