@charset: "utf-8";

h1 {
  color: red;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: red;
}
#box2 {
  width: 200px;
  height: 100px;
  background-color: green;
}
#box3 {
  width: 100px;
  height: 200px;
  background-color: blue;
}

.hit {
  color: white;
  background-color: red;
}